@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  font-family: 'Nunito';
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center-vh {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-v {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-3 {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.flex-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-full-height {
  height: 100%;
}

.flex-full-width {
  width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.hover:hover {
  cursor: pointer;
}

.hover-opacity:hover {
  cursor: pointer;
  opacity: 0.8;
}

.main-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.card {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 3px 1px #e0e0e0;
          box-shadow: 0px 0px 3px 1px #e0e0e0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.general-btn {
  background: #ffc109;
  color: #fff;
  border-radius: 3px;
  border-bottom: 2px solid #d8a50c;
  font-weight: 600;
  text-align: center;
}

.general-btn p {
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.general-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card-inner {
  padding: 15px;
}

.chat-box {
  -ms-flex-preferred-size: 900px;
      flex-basis: 900px;
  height: 500px;
}

.chat-box .chat-top {
  background: whitesmoke;
  border-bottom: 1px solid #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-box .chat-top .user-info {
  border-right: 1px solid #efefef;
  font-weight: 600;
}

.chat-box .chat-top .user-info .active-status {
  line-height: 0;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  font-size: 10px;
  display: block;
}

.chat-box .chat-top .user-info .active-status.online {
  color: green;
}

.chat-box .chat-top .active-chats .active-chats-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.chat-box .chat-top .active-chats .active-chats-wrapper .chat {
  background: white;
  padding: 10px;
  padding-left: 10px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  padding-right: 10px;
  font-size: 13px;
  border-radius: 3px 3px 0 0;
  margin-right: 2px;
  opacity: 0.8;
}

.chat-box .chat-top .active-chats .active-chats-wrapper .chat:hover {
  opacity: 1;
  cursor: pointer;
}

.chat-box .chat-top .active-chats .active-chats-wrapper .chat.active-chat {
  background: #ffc109;
  color: #fff;
  font-weight: 600;
  opacity: 1;
}

.chat-box .chat-box-left-column {
  border-right: 1px solid #efefef;
}

.chat-box .chat-box-left-column .chat-view-switch {
  background: #fbfbfb;
}

.chat-box .chat-box-left-column .chat-view-switch span {
  padding: 10px;
  font-size: 13px;
  border-bottom: 2px solid transparent;
  margin-left: 5px;
  margin-right: 5px;
}

.chat-box .chat-box-left-column .chat-view-switch span.active {
  font-weight: 600;
  border-bottom: 2px solid #ffc109;
}

.chat-box .chat-box-left-column .chat-view-switch span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.chat-box .chat-box-left-column .chats-overview h3 {
  margin: 0;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}

.chat-box .chat-box-left-column .chats-overview a {
  color: #8c8c8c;
}

.chat-box .chat-box-left-column .chats-overview .chat-preview {
  border-bottom: 1px solid #f9f9f9;
}

.chat-box .chat-box-left-column .chats-overview .chat-preview:last-of-type {
  border-bottom: 0;
}

.chat-box .chat-box-left-column .chats-overview .chat-preview:hover {
  background: #f7f7f7;
}

.chat-box .chat-box-left-column .chats-overview .user {
  border-bottom: 1px solid #f9f9f9;
}

.chat-box .chat-box-left-column .chats-overview .user:last-of-type {
  border-bottom: 0;
}

.chat-box .chat-box-left-column .chats-overview .user:hover {
  background: #f7f7f7;
}

.chat-box .chat-box-left-column .create-chat {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #efefef;
}

.chat-box .main-chat {
  background: #fdfdfd;
}

.chat-box .main-chat .no-active-rooms h3 {
  margin: 0;
}

.chat-box .main-chat .no-active-rooms p {
  color: gray;
}

.chat-box .main-chat .creating-room h4 {
  font-size: 22px;
}

.chat-box .main-chat .creating-room input,
.chat-box .main-chat .creating-room textarea {
  width: 300px;
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #e8e8e8;
  margin-bottom: 5px;
  outline: none;
}

.chat-box .main-chat .creating-room input:focus,
.chat-box .main-chat .creating-room textarea:focus {
  border: 1px solid #ffc109;
  outline: none;
}

.chat-box .main-chat .creating-room span {
  margin-top: 10px;
  color: #b5b5b5;
  font-size: 12px;
}

.chat-box .main-chat .creating-room span:hover {
  cursor: pointer;
}

.chat-box .main-chat .creating-room .general-btn {
  width: 324px;
  margin-top: 5px;
}

